#Git
.git
.gitignore
.gitattributes

#Maven
target/
.mvn/
mvnw
mvnw.cmd
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

#IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache
*.swp
*.swo
*~

#Documentation
README.md
HELP.md
docs/
        *.md

#
Docker
Dockerfile
docker-compose.yaml
docker-compose.yml
.dockerignore

#Logs
logs/
*.log

#OS
.DS_Store
Thumbs.db
*.tmp

#Test
**/src/test/
!**/src/
test/**/resources/


build/
bin/
out/